.select {
  --foreground-color: var(--select-foreground-color, var(--theme-foreground-color));
  --background-color: var(--select-background-color, var(--theme-background-color-shade-3));
  --border-color: var(--select-border, var(--theme-frame-border, transparent));

  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--theme-radius-medium);
  background: var(--background-color);
  color: var(--foreground-color);
  gap: .4rem;

  width: 100%;
  min-width: 5rem;
  height: var(--theme-input-height);
  padding: var(--theme-input-padding);

  font-family: unset;
  line-height: 1.5rem;

  &:focus {
    outline: none;
  }

  :deep(option) {
    height: 100%;
    background: var(--background-color);
  }

  &--outline {
    &:focus-within {
      border-color: var(--theme-brand-color);
    }
  }

  &--multiple {
    padding: 0;

    :deep(option) {
      height: var(--theme-input-height);
      padding: var(--theme-input-padding);

      &[data-selected="true"] {
        background: var(--theme-brand-color);
        color: var(--theme-brand-color-contrast);
      }
    }
  }
}

