# ignore husky hooks
.husky/* linguist-detectable=false

# ignore playground/index.html
*.html linguist-detectable=false

# ignore bin/index.js
*.js linguist-detectable=false

# ignore templates
packages/create-aeria-app/templates/**/* linguist-detectable=false
