# ignore misc
.husky/* linguist-vendored

# ignore playground/index.html
*.html linguist-vendored

# ignore bin/index.js
*.js linguist-vendored

# ignore js/sh scripts
scripts/*.ts linguist-vendored
scripts/*.sh linguist-vendored

