.file {
  display: flex;
  flex-direction: column;
  row-gap: .8rem;

  &__list {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--theme-border-color);
    border-radius: var(--theme-radius-large);

    & > *:not(:last-child) {
      border-bottom: 1px solid var(--theme-border-color);
    }
  }
}
