body, html {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: scroll;
}

.topstrip {
  position: sticky;
  z-index: 90;
  top: 0;
  left: 0;

  display: flex;
  height: 6rem;
  align-items: center;
  padding: 0 2rem;
  background: #fff;
  box-shadow: 0 2px 16px #ddd;
  gap: 2rem;
}

.logo {
  margin-right: auto;
  font-size: 1.2rem;
}

.styles,
.categories {
  display: flex;
}

.styles > div,
.categories > div {
  padding: 1rem;
  border: 1px solid red;
  cursor: pointer;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #fff;
  gap: 1rem;
  outline: 1px solid #f2f2f2;
}

.icon-info {
  text-align: center;
}

.icon-info > div:nth-child(2) {
  opacity: .6;
}
