.theme-defaults() {
  --theme-frame-border: 1px solid transparent;
  --theme-input-padding: .8rem;
  --theme-input-padding-large: 1rem;
  --theme-input-height: 2.8rem;
  --theme-input-height-large: 3.2rem;
  --theme-panel-header-height: 72px;
  --theme-radius-medium: 0;
  --theme-radius-large: 4px;
  --theme-radius-extra-large: 16px;
}
