.aeria-surface {
  background: var(--theme-background-color);
  color: var(--theme-foreground-color);
}

.aeria-surface-alt {
  background: var(--theme-background-color-shade-2);
  color: var(--theme-foreground-color);
}

.aeria-body {
  background: var(--theme-body-background);
}

.aeria-branded-text {
  color: var(--theme-brand-color);
}

.aeria-redish {
  color: var(--theme-redish);
  fill: var(--theme-redish);
}

.aeria-blueish {
  color: var(--theme-blueish);
  fill: var(--theme-blueish);
}
